# Environment files
.env
backend/.env
frontend/.env

# macOS
.DS_Store
backend/.DS_Store
backend/routes/.DS_Store

# Node modules
node_modules/
backend/node_modules/

# Images (якщо не хочеш комітити всі, але для твого випадку — коміть, бо нові)
# backend/public/images/  # Розкоментуй, якщо забагато