@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@400&display=swap');

.top-destinations {
    padding: 2rem;
    background: #f9f9f9;
    font-family: 'Poppins', sans-serif;
}

.top-destinations h2 {
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 27px;
    color: #1B3A4B;
    margin-bottom: 1rem;
    gap: 1rem;
}

.top-destinations h2::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: #1B3A4B;
}

.description {
    margin-bottom: 1.5rem;
    color: #0D1B2A;
    font-size: 20px;
    text-align: center;
}

.content {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.destination-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 250px;
}

.city {
    background: #f7f7f7;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* Виправлено тут */
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}

.city:hover {
    background: #e6e6e6;
}

.city.active {
    background: #dde3e8;
}

.tag,
.count {
    background: #f7f7f7;
    padding: 0.3rem 0.6rem;
    border-radius: 12px;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.destination-image {
    flex: 2;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destination-image img {
    width: 100%;
    height: 100%;
    max-height: 370px;
    max-width: 550px;
    object-fit: cover;
    border-radius: 10px;
}

.modal-footer .btn-secondary {
    background-color:#1B3A4B;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    font-weight: 500;
    border: none;
    transition: background-color 0.3s;
}

.modal-footer .btn-secondary:hover {
    background-color: #0D1B2A;
}
.custom-tag {
    background-color: #dde3e8;
    color: #1B3A4B;
    font-family: 'Poppins', sans-serif;
    padding: 0.4rem 0.7rem;
    font-size: 0.8rem;
    border-radius: 12px;
    margin-right: 0.5rem;
}
.price-label {
    padding: 0.8rem 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 0;
}

.price-label span {
    font-weight: 600;
    color: #1B3A4B;
}

.price-label .price {
    font-size: 1.2rem;
    color: #0D1B2A;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
